body {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}
div {
    display: block;
}
header {
    width: auto;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}

.head_img {
    margin: 0 0 0 60px;
    height: 50px;
    width: 10%;
    float: left;
}
.head_img img{
    width: 68px;
    height: 50px;
    margin: 0;
    padding: 0;
    display: inline;
}
a {
    text-decoration:none;
}
.head_url {height:50px; width: 50%; float: right;}
.head_url {list-style:none;}
.head_url>li{line-height:50px; text-align:center; display: inline;}
.head_url>li>a{color:#000; padding:0 10px; display: inline-block;}
.head_url>li>a:hover{color:#FFF; background:#333}
/*下面是下拉菜单的内容
.head_url ul li ul{display:none;}
.head_url ul li ul li{ float:none; line-height:30px; text-align:left;}
.head_url ul li ul li a{ width:100%;}
.head_url ul li ul li a:hover{ background-color:#06f;}
.head_url ul li:hover ul{ display:block}
*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background: burlywood;
    /*z-index: 1;*/
}
.dropdown:hover .dropdown-content {
    display: block;
}