body {
    margin: 0;
    padding: 0;
}
div {
    display: block;
}
header {
    width: auto;
    height: 50px;
    background-color: red;
}
.head_img {
    height: 50px;
    text-align: center;
}
.head_img img{
    width: 55px;
    height: 40px;
    margin: auto 20px;
    padding: 0;
    float: left;
}
.head_menu {
    list-style: none;
    margin: 0 20px 0 0;
    padding: 0;
    float: right;
}
a {
    text-decoration: none; /*去掉链接中的下划线*/
}
.head_menu li {
    display: inline;
    margin: 0 10px 0 0;
    line-height: 50px; /*为了导航栏能够垂直居中，设置与头部同高*/
}
